<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.asoncs.widget">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <dist:module
        dist:instant="false"
        dist:title="@string/mod_widget_title_widget">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="false" />
    </dist:module>

    <application
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widgets.LightToggle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_light_toggle" />
        </receiver>
        <receiver android:name=".widgets.TvToggle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_toggle" />
        </receiver>
        <receiver android:name=".widgets.TvChannelDown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_channel_down" />
        </receiver>
        <receiver android:name=".widgets.TvChannelUp">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_channel_up" />
        </receiver>
        <receiver android:name=".widgets.TvVolumeDown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_volume_down" />
        </receiver>
        <receiver android:name=".widgets.TvVolumeUp">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_volume_up" />
        </receiver>
        <receiver android:name=".widgets.TvcTools">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_tools" />
        </receiver>
        <receiver android:name=".widgets.TvcApps">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_apps" />
        </receiver>
        <receiver android:name=".widgets.TvcEnter">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_enter" />
        </receiver>
        <receiver android:name=".widgets.TvcMenu">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_menu" />
        </receiver>
        <receiver android:name=".widgets.TvcReturn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_return" />
        </receiver>
        <receiver android:name=".widgets.TvcUp">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_up" />
        </receiver>
        <receiver android:name=".widgets.TvcLeft">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_left" />
        </receiver>
        <receiver android:name=".widgets.TvcRight">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_right" />
        </receiver>
        <receiver android:name=".widgets.TvcDown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_tv_c_down" />
        </receiver>
    </application>

</manifest>